[submodule "dotfiles/.vim/bundle/ack.vim"]
	path = dotfiles/.vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "dotfiles/.vim/bundle/gruvbox"]
	path = dotfiles/.vim/bundle/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "dotfiles/.vim/bundle/nerdtree"]
	path = dotfiles/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "dotfiles/.vim/bundle/vim-arduino-syntax"]
	path = dotfiles/.vim/bundle/vim-arduino-syntax
	url = https://github.com/sudar/vim-arduino-syntax.git
[submodule "dotfiles/.vim/bundle/vim-bufstat"]
	path = dotfiles/.vim/bundle/vim-bufstat
	url = https://github.com/randymorris/vim-bufstat.git
[submodule "dotfiles/.vim/bundle/vim-commentary"]
	path = dotfiles/.vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "dotfiles/.vim/bundle/vim-fugitive"]
	path = dotfiles/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "dotfiles/.vim/bundle/vim-markdown"]
	path = dotfiles/.vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "dotfiles/.vim/bundle/vim-rails"]
	path = dotfiles/.vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "dotfiles/.vim/bundle/vim-ruby"]
	path = dotfiles/.vim/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "dotfiles/.vim/bundle/vim-sensible"]
	path = dotfiles/.vim/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "dotfiles/.vim/bundle/vim-signature"]
	path = dotfiles/.vim/bundle/vim-signature
	url = https://github.com/kshenoy/vim-signature.git
[submodule "dotfiles/.vim/bundle/vim-surround"]
	path = dotfiles/.vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "dotfiles/.vim/bundle/vim-unimpaired"]
	path = dotfiles/.vim/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "dotfiles/.vim/bundle/vimroom"]
	path = dotfiles/.vim/bundle/vimroom
	url = https://github.com/mikewest/vimroom.git
[submodule "dotfiles/.vim/bundle/vim-exchange"]
	path = dotfiles/.vim/bundle/vim-exchange
	url = https://github.com/tommcdo/vim-exchange.git
